VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=processo-360-ia.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=processo-360-ia
VITE_FIREBASE_STORAGE_BUCKET=processo-360-ia.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
